<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>HTML</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="stylesheet" th:href="@{/css/estilo_gran.css}" />
<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Roboto}" />
<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Wallpoet}" />

</head>

<body>
  <header>
    <div>
      <a th:href="@{home}">
          <img th:src="@{images/flecha.png}" alt="icono_volver">
      </a>
  </div>
    <div>
      <img th:src="@{images/logo.png}" alt="logo">
    </div>
    <section id="tit">
      <h1>VIVE EL OCIO NOCTURNO</h1>

    </section>
  </header>
  <nav>

    <a th:href="@{home.html}">PÁGINA PRINCIPAL</a>
    <a th:href="@{eventos.html}">EVENTOS</a>
    <a th:href="@{login.html}">LOGIN</a>
    <a th:href="@{registro.html}">REGISTRO</a>
  </nav>


  <main>
    <section>
      <h2>PRÓXIMOS EVENTOS</h2>
    </section>
    <aside>
      
      <img th:src="@{/images/flecha_mo.png.png}" alt="flecha_dcha">
      <h4>fecha</h4>
      <img src="@{/images/flechadxa_mo.png.png}" alt="flecha_izq">
    </aside>
    <article>evento</article>
    
    <a th:href="@{eventos}">
      <button id="anadir"><h2>AÑADIR EVENTO</h2></button>
  
    </a>
<div>
  <a th:href="@{eventos}">
      <img src="@{/images/flech_abajo.png}" alt="fle">  
    </a>
</div>
   
  </main>
  <footer>
    <div>
      <img th:src="@{/images/CopyR.png}" alt="copyR">
    </div>
    <div><p>SaguntoCityFun de CityFun S.L.</p></div>
    <div>
      <img th:src="@{/images/insta.png}" alt="insta">
    </div>
  </footer>


</body>

</html>