<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>HTML</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/estilo.css}" />
  <link rel="stylesheet" th:href="@{/css/estilo_gran.css}" />
  <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Roboto}" />
  <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Wallpoet}" />
  
</head>

<body id="inicio">
  <header>
    <div>
       </div>
    <div>
      <img th:src="@{/images/logo.png}" alt="log">

        </div>
        <section id="tit">
          <h1>VIVE EL OCIO NOCTURNO</h1>

        </section>
  </header>



  <main>
    <section id="titulo">
        <h1>VIVE<br> EL<br> OCIO<br> NOCTURNO</h1>
    </section>
    <div class="boton">
      <a th:href="@{login}">
      <button>ENTRAR</button>

    </a>
    </div>
   
  </main>
  <footer>
    <div>
      <img th:src="@{/images/CopyR.png}" alt="copyR">
    </div>
    <div><p>SaguntoCityFun de CityFun S.L.</p></div>
    <div>
      <img th:src="@{/images/insta.png}" alt="insta">
    </div>
  </footer>

</body>
</html>