<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>HTML</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/estilo.css}" />
  <link rel="stylesheet" th:href="@{/css/estilo_gran.css}" />
  <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Roboto}" />
  <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Wallpoet}" />
  
</head>

<body>
  <header>
    <div>
      <a th:href="@{eventos}">
          <img th:src="@{/images/flecha.png}" alt="icono_volver">
      </a>
  </div>
    <div>
      <img th:src="@{/images/logo.png}" alt="logo">
    </div>
    <section id="tit">
      <h1>VIVE EL OCIO NOCTURNO</h1>

    </section>
  </header>

  <nav>

    <a th:href="@{home}">PÁGINA PRINCIPAL</a>
    <a th:href="@{eventos}">EVENTOS</a>
    <a th:href="@{login}">LOGIN</a>
    <a th:href="@{registro}">REGISTRO</a>
  </nav>

  <main>
    <section>
      <h2>NUEVO EVENTO</h2>
    </section>
    <form action="nuevoEvento" method="post">

      <input type="text" placeholder="NOMBRE DEL EVENTO" name="nombre" required>
      <input type="text" placeholder="FECHA DEL EVENTO" name="fecha" required>
      <input type="number" placeholder="PRECIO DE LA ENTRADA" name="precio" required>
      <input type="text" placeholder="LINK A RRSS" name="link" required>
      <input type="text" placeholder="POSICIONAMIENTO" name="posicionamiento" required>


  
      <a th:href="@{home}">
        <button>AÑADIR</button>
  
      </a>  
  </form>
 
  </main>
  <footer>
    <div>
      <img th:src="@{/images/CopyR.png}" alt="copyR">
    </div>
    <div><p>SaguntoCityFun de CityFun S.L.</p></div>
    <div>
      <img th:src="@{/images/insta.png}" alt="insta">
    </div>
  </footer>


</body>

</html>